.select-wrapper {
  position:relative;
  width:100%;

  &.cut-overflow {
    overflow: hidden;
  }

  select {
    background-color: white;
    position:relative;
    z-index: 100;
    cursor: pointer;
    width:100%;
    background-color: $accent-gray;
    box-shadow: $shadow-gray-light; // fix for Firefox red highlight
    -webkit-appearance: none; // fix for box-shadow on mobile safari
    -moz-appearance:none;
    color: $new-paltz-blue;
    outline: none;
    padding: $padding;


    background-image: url(../images/icons/chevron-down.svg);
    background-position:
    calc(100% - 20px) calc(1em + 5px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
    background-size: 20px;
    background-repeat: no-repeat;

    &.light {
      background-color: #F4F4F4;
    }

    option {
      font-style: normal;
      color: $new-paltz-blue;
    }
  }
}

input[type="submit"] {
  color: transparent;
}

select, input[type="text"], input[type="search"] {
  background-color: white !important;
  border-radius: 2px;
  border: 1px solid $accent-gray;
  box-shadow: $shadow-light;
  -webkit-appearance: none;
  -moz-appearance:none;
}

input[type="text"], input[type="search"] {
  width: calc(100% - 52px);
  height: 52px;
  min-width: 175px;
  max-width: 225px;
  padding: 10px;
}

input[type="search"] {
  max-width: 1200px;
  border-radius: 2px;
  border-right: 0 solid;
}

.search-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;

  &.select {
    .select-wrapper {
      flex-grow: 1;
      width: auto
    }
  }

  .select-wrapper {
    max-width: 100%;
    padding-bottom: 5px;

    select {
      max-width: 100%;
      border-radius: 2px;
      -moz-appearance:none;
    }
  }

  @include media($min-md) {
    flex-wrap: nowrap;
    width: 100%;

    &.select {
      .select-wrapper, select {
        max-width: 100% !important;
        width: 100%;
      }
    }

    .select-wrapper {
      max-width: 250px;
      padding-bottom: 0;

      select {
        max-width: 250px;
        border-radius: 2px 0 0 2px;
        -moz-appearance:none;
      }
    }
  }
}




.select-button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}




input.search-enter {
  position: relative;
  background: url(../images/icons/magnifying-glass.svg) no-repeat scroll 50%;
  background-color: $accent-secondary;
  height: 52px;
  min-width: 52px;
  max-width: 52px;
  border-radius: 0 2px 2px 0;
  border: 0 solid;
  box-shadow: $shadow-light;
  margin-left: 0;
  cursor: pointer;
  transition: .1s;

  &:hover {
    background-color: $button-highlight-secondary;
    transition: .1s;
  }
  &:active {
    background-color: lighten($button-highlight-secondary, 6%);
    transition: .1s;
  }
}

textarea {
  border-radius: 2px;
  border: 1px solid $accent-gray;
  box-shadow: $shadow-light;
  min-width: 280px;
  min-height: 100px;
  padding: 5px 10px;
}

.submit {
  background-color: $accent-secondary;
  color: white;
  font-size: 20px;
  height: 38px;
  width: 120px;
  padding: 10px auto 0;
  border-radius: 2px;
  border: 0 solid;
  box-shadow: $shadow-light;
  margin-left: 0;
  cursor: pointer;
  transition: .1s;

  &:hover {
    background-color: $button-highlight-secondary;
    transition: .1s;
  }
  &:active {
    background-color: lighten($button-highlight-secondary, 6%);
    transition: .1s;
  }
}

select:-moz-focusring { // fix for Firefox selectbox dotted line
  color: transparent;
  text-shadow: 0 0 0 #000;
}
