.icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
  transform-style: preserve-3d;
  &:before {
    display: block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
  }
}

.icon-chevron-down {
  background-image: url(../images/icons/chevron-down.svg);
}

.icon-triangle-down {
  background-image: url(../images/icons/triangle-down.svg);
  background-size: 15px;
}
