* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased; // helps make fonts closer to designed versions
  -moz-osx-font-smoothing: grayscale; // helps make fonts closer to designed versions
  display: flex;
  flex-direction: column;
}

.wrap {
  margin-top: 137px;
  flex-grow: 1;
}

/* -----------------------------------------------
WORDPRESS ONLY.
----------------------------------------------- */

// WYZIWYG Editor Images
.aligncenter {
  display: block;
  margin: 0 auto 20px auto;
}

.alignleft {
  display:block;
  margin:0 auto 20px auto;
  @include media($min-xs) {
    float: left;
    margin:0 20px 20px 0;
  }
}

.alignright {
  display:block;
  margin:0 auto 20px auto;
  @include media($min-xs) {
    float: right;
    margin:0 0 20px 20px;
  }
}

figure {
  img {
    max-width:100%;
  }
}

figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}

.container {
  @include vw-container( $md );

  &.large {
    @include vw-container( $lg );
  }
}

.two-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include media($min-md) {
    align-items: inherit;
    flex-direction: row;
  }

  & > div {
    width: 100%;

    @include media($min-md) {
      width: 50%;
      padding: 0 30px 8px;
    }
  }
}
