.table-container {
  overflow-x: scroll;
  table {
    border-collapse: collapse;
    background-color: lighten($accent-gray, 7%);
    border-radius: 2px;
    min-width: 480px;
    caption {
      height: 0;
      visibility: hidden;
    }

    td:first-child {
      border-right: 1px dashed darken($accent-gray, 7%);
    }

    thead {
      tr {
        th, td {
          padding: 10px;
          background-color: darken($accent-gray, 7%);
          font-weight: normal;
          font-size: 16px;
          text-align: left;
        }
      }
    }
    tbody {
      tr {
        th, td {
          padding: 10px 20px;
          border-bottom: 1px darken($accent-gray, 7%) dashed;
          font-size: 15px;
        }
      }
      .first {
        border-right: 1px darken($accent-gray, 7%) dashed;
      }
    }
    tfoot {

      tr {
        th, td {
          padding: 10px;
        }
      }
    }
  }
}
