html {
  font-weight: 300;
}

body {
  font-size: 100%;
  font-weight: 300;
  font-family: $base-font-family;
  color: $base-font-color;
}

h1, h2, h3, h4, h5 {
  color: $accent-primary;
  font-family: $base-font-family;
  font-weight: 700;
  max-width: 630px;
}

.h1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  margin-top: 0;
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 30px;
/*  left: 50%;
  transform: translateX(-50%);
  position: relative; */
  padding: 25px 20px 16px;
  background: repeating-linear-gradient(
    -54deg,
    white 1px,
    rgb(238, 238, 238) 5px,
    rgb(238, 238, 238) 1px,
    rgb(238, 238, 238) 1px
    );

  @include media($min-sm) {
    width: calc(100% + 64px);
    margin-left: -32px;
    margin-right: -32px;
    padding: 25px 20px 16px 40px;
    margin-bottom: 40px;
  }

  @include media($min-md) {
    width: calc(100% + (100vw - 970px) + 64px);
    margin-left: calc(((100vw - 970px) / 2) * -1 - 32px);
    margin-right: calc(((100vw - 970px) / 2) * -1 - 32px);
    padding: 25px 20px 16px 100px;
    margin-bottom: 50px;
  }

  h1 {
    font-family: $heading-font-family;
    @include type-scale(54, 36, 46);
    font-weight: 300;
    color: $accent-primary;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em white;
    margin: 0;
    max-width: 100vw;
    border-bottom: 0;

    @include media($min-md) {
      text-align: left;
    }
  }
  .help-button-container {
    padding: 0;

    @include media($min-xs) {
      padding: 0;
      margin-top: -5px;
    }

    @include media($min-md) {
      padding-right: 20px;
      margin-top: -5px;
    }
  }
}

h1 {
  @include type-scale(34, 27, 30);
  margin: 50px auto 20px;
  border-bottom: 3px solid $accent-primary;
  padding-bottom: 5px;
}

h2 {
  @include type-scale(30, 25, 27);
  margin: 30px auto 20px;
}

h3 {
  @include type-scale(24, 19, 22);
  margin: 20px auto 20px;
  font-weight: normal;
}

h4 {
  color: $base-font-color;
  @include type-scale(18, 16, 17);
  margin: 10px auto;
}

h5 {
  margin: 10px auto;
}

p {
  @include type-scale(16, 16, 16);
  line-height: 22px;
  max-width: 630px;
  margin: 10px auto;

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }
}

blockquote {
  @include type-scale(16, 16, 16);
  line-height: 22px;
  max-width: 630px;
  margin: 20px auto;
  padding: 20px 30px;
  border-radius: 2px;
  background-color: $accent-gray;

  iframe {
    width: 100%;
  }
}

a {
  color:  $base-link-color;
  font-weight: 700;
  text-decoration: none;
  transition: .1s;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $accent-primary;
    transition: .1s;
  }
  &:focus {
    text-decoration: underline;
  }
}

.container ul {
  max-width: 630px;
  margin: 20px auto;

  &.no-dots {
    padding-left: 0;
    margin: 10px auto;

    li {

      list-style: none;
    }
  }

  li {
    margin: 0 0 10px;
  }
}

.container ol {
  max-width: 630px;
  margin: 20px auto;
  li {
    margin: 0 0 10px;
  }
}

iframe {
  border: 0;
  margin: 20px auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.skip-link {
  position: absolute;
  left: -99999px;
  top: 0;
  background-color: #003e7e;
  color: white;

  &:active, &:focus {
    position: fixed;
    left: 0;
    z-index: 9999;
  }
}

.skip-tagboard {
  position: absolute;
  color: $accent-primary;
  left: -99999px;
  font-size: 16px;

  &:active, &:focus {
    position: relative;
    left: 0;
  }
}
