/* -----------------------------------------------
  Variables
  ----------------------------------------------- */

  // Colors:
  // Should be assigned to "roles", NEVER used directly.
  $new-paltz-blue: #003E7E;
  $new-paltz-orange: #F16F1F;
  $text-gray: #424242;
  $darkgray: #BEB7AF;
  $lightgray: #E5E5E5;
  $transpgray: rgba(0,0,0,.24);
  $transpgray-light: rgba(0,0,0,.1);
  $lightblue: #337AB7;
  $brown:#908b86;
  $white90: rgba(255,255,255,.9);
  $transp-blue: rgba($lightblue,.40);

  // Color Roles:
  // Roles can change more easily than named colors.
  $accent-primary: $new-paltz-blue;
  $accent-secondary: $new-paltz-orange;

  $background-gray: $darkgray;
  $accent-gray: $lightgray;
  $shadow-gray: $transpgray;
  $shadow-gray-light: $transpgray-light;
  $transp-header: $white90;

  $base-font-color: $text-gray;
  $base-link-color: $lightblue;
  $secondary-font-color: $new-paltz-blue;
  $button-highlight: $lightblue;
  $button-highlight-secondary: lighten($new-paltz-orange, 11%);

  $shadow: 0 1px 0 $shadow-gray;
  $shadow-inverse: 0 -1px 0 $shadow-gray;
  $shadow-light: 0 1px 0 $shadow-gray-light;
  $shadow-inverse-light: 0 -1px 0 $shadow-gray-light;

  $front-page-bg: $brown;
  $dynamic-info: $transp-blue;


  // Fonts:
  $em-base:16px;

  // Wordpress Spacer
  $spacer: 16px;

  $padding: 16px;

  $base-font-family : "Roboto", Helvetica, Arial, sans-serif;
  $base-font-size : em(20);
  $base-line-height : 1.5;

  // this is only for H1s
  $heading-font-family: "EB Garamond", "Garamond", Georgia, serif;
  $heading-font-size : em(16);
  $heading-line-height : 1.5;
