#front-page {
  background-color: $front-page-bg;
  max-width: none;
  padding: 0;

  section {
    &.welcome {
      position: relative;
      padding: 50px 0 40px;
      background-repeat: no-repeat;
      background-image: url(../images/front-page-default-background.jpg);
      background-size: cover;

      @include media($min-sm) {
        padding: 50px 0 60px;
      }

      .color-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: darken($front-page-bg, 20%);
        opacity: .7;
        overflow: visible;
      }

      .color-gradient {
        content: '';
      	position: absolute;
      	top: 0;
      	left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 1;
        overflow: visible;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,908b86+100&0+64,0.07+71,0.3+83,0.9+96,1+99 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(184,181,178,0) 64%, rgba(176,173,169,0.07) 71%, rgba(163,159,155,0.3) 83%, rgba(148,144,139,0.9) 96%, rgba(145,140,135,1) 99%, rgba(144,139,134,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(184,181,178,0) 64%,rgba(176,173,169,0.07) 71%,rgba(163,159,155,0.3) 83%,rgba(148,144,139,0.9) 96%,rgba(145,140,135,1) 99%,rgba(144,139,134,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(184,181,178,0) 64%,rgba(176,173,169,0.07) 71%,rgba(163,159,155,0.3) 83%,rgba(148,144,139,0.9) 96%,rgba(145,140,135,1) 99%,rgba(144,139,134,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#908b86',GradientType=0 ); /* IE6-9 */
      }


      .welcome-text {
        @include type-scale(51, 33, 44);
        position: relative;
        font-family: $heading-font-family;
        text-align: center;
        width: 100%;
        color: white;
        padding-left: 0;
        margin-bottom: 0;
        padding-bottom: 6px;
        text-shadow: $shadow;

        &::after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 80%;
          padding-top: 15px;
          border-bottom: 2px solid white;
          box-shadow: $shadow-light;
        }
      }

      p {
        &.loader {
          margin-top: 5px !important;
        }

        &.hide-text {
          * {
            visibility: hidden;
          }
        }

        &.library-hours-text {
          color: white;
          font-size: 16px;
          text-align: center;
          font-weight: 600;
          letter-spacing: .2px;
          line-height: 25px;
          margin: 0 auto 50px;
          text-shadow: $shadow;

          .quick-dynamic-info {
            background-color: $dynamic-info;
            padding: 3px 7px;
            border-radius: 2px;
            box-shadow: $shadow-light;
          }

          a {
            color: rgba(255,255,255,.75);
            border-bottom: 1px solid rgba(255,255,255,.75);

            &:hover {
              color: white;
              text-decoration: none;
            }

            &:focus {
              color: white;
              text-decoration: none;
            }

            &:active {
              color: rgba(255,255,255,.75);
            }
          }
        }
        position: relative;
      }

      .library-traffic-modal {
        position: relative;
        background-color: #e8e8e8;
        max-width: 530px;
        @include media($min-md) {
          max-width: 1000px;
        }

        .two-column {
          flex-grow: 1;
          table {
            caption {
              text-align: left;
              font-size: 10pt;
            }
          }


            .library-traffic-library-hours {
            border-bottom: 1px solid darken($accent-gray, 7%);
              @include media($min-md) {
                width: 80%;
                border-right: 1px solid darken($accent-gray, 7%);
                border-bottom: 0;
              }

              .table-container {
                table {
                  background-color: transparent;
                  margin: 0 auto;

                }
              }
              .two-column {
                display: flex;
                padding: 10px 0 0 0;
                & > div {
                  padding: 0;
                  margin: 0 6px 10px;

                  a {
                    padding: 5px 0;
                  }
                }
              }
            }

        }
      }

      .tab-box-contents {
        #tab-3 {
          margin: 12px 12px 12px;
        }
          .form-container {
            background-color: rgb(238, 238, 238);
            border-radius: 2px;
            padding: 16px;
            padding-bottom: 0;
            margin: 8px;
            margin-bottom: 25px;
            border: 1px solid #dedede;

            select {
              margin-left: 1px;
            }

            input[type="search"] {
              max-width: inherit;
            }
          }
      }

      .description {
        padding: 10px 0 0;

        p {
          max-width: 1000px;
        }
      }

      .button-container {
        margin-top: 16px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        padding: 0;

        @include media($min-md) {
          flex-direction: row;
        }

        div {
          margin-bottom: 16px;
          max-width: inherit;
          @include media($min-md) {
            justify-content: flex-end;
            margin-left: 32px;

          }
        }
      }
    }

    &.events {
      .container {
        max-width: 62.38rem;

        &.large {
          max-width: 70rem;
        }

        .two-column {
          & > div {

            @include media($min-md) {
              padding: 0 15px 8px;
            }
          }
        }

        .module-component {
          margin: 0 auto 30px;
          &.tagboard-module {
            @include media($min-md) {
              margin-top: 55px;
            }
          }
          &.help-and-assistance-module {
            p {
              margin-top: 0;
              margin-bottom: 20px;
            }
            .two-column {
              & > div {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;

              }
              .button {
                margin-bottom: 8px;
                width: 200px;
                a {
                  font-size: 16px;
                }
              }
              .help-button-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding:  0;

                div {
                  width: 100%;
                }
              }
            }
          }
          iframe {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
