.alert.alert-warning {
  margin: 30px auto 20px;
}

.fourohfour {
}

.four-search {

  form.search-form {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-grow: 1;

    label {
      display: flex;
      flex-grow: 1;

      span {
        visibility: hidden;
        font-size: 0;
      }

      input {
        width: 100%;
      }
    }
    input.search-submit {
      font-size: 0;
      position: relative;
      background: url(../images/icons/magnifying-glass.svg) no-repeat scroll 50%;
      background-color: $accent-secondary;
      height: 52px;
      min-width: 52px;
      max-width: 52px;
      border-radius: 0 2px 2px 0;
      border: 0 solid;
      box-shadow: $shadow-light;
      margin-left: 0;
      cursor: pointer;
      transition: .1s;

      &:hover {
        background-color: $button-highlight-secondary;
        transition: .1s;
      }
      &:active {
        background-color: lighten($button-highlight-secondary, 6%);
        transition: .1s;
      }
    }
  }
}
