.about-the-library {
  li {
    font-size: 16px;
  }
  .module-component {
    margin-top: 20px;

    .library-phone-numbers-links {
      li {
        border-bottom: 1px dotted lightgray;

        @include media($min-sm) {
          border-bottom: none;
        }

        .two-column {
          & > div {
            padding-bottom: 5px;
          }
        }
      }
    }

    .follow-us-links {
      li {
        vertical-align: middle;

        @include media($min-xs) {
          display: inline-block;
        }
      }
    }
  }
}
