.notification-bar-admin-wrapper {

  .notification-bar__field-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    left: 0;
    top: 0;

    .primary-label {
      font-size: 18px;
      margin: 7px 0;
    }

    textarea {
      max-width: 400px;
      min-height: 100px;
    }

    input[type="text"]{
      max-width: 200px;
    }
  }

  .notification-bar__color {
    flex-direction: row;
    margin-bottom: 5px;

    $colors: (
      notification-bar__alert-color-red: #DB2828,
      notification-bar__alert-color-yellow: #FBBD08,
      notification-bar__alert-color-blue: #1E73BE,
    );

    input[type="radio"] {
      display: none;

      &:disabled + label {
        span {
          filter: grayscale(50%);
          -webkit-filter: grayscale(50%);
        }
      }

      &:checked + label {
        span { transform: scale(1.25), translateX(-6px);
                width: 19px;
                height: 19px;}
        @each $name, $value in $colors {
          .#{$name} {
            border: 3px solid darken($value, 25%);
          }
        } // !@each
      } // !&:checked + label
    }

    label {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        span {
          transform: scale(1.25);
        }
      }
      span {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: .2s ease-in-out;
        @each $name, $value in $colors {
          &.#{$name} {
            background: $value;
          }
        }
      }
    }
  }

  .activate-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;

    input {display:none;}
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50px;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}

.notification-bar {
  h2 {
    padding: 20px 0px 20px 20px;
  }

  p {
    padding: 0px 0px 20px 20px;
  }

  h2, p {
    margin: 0;
    color: white;
    max-width: none;
  }
}
