/*------------------------------------------------------------
Layout Related Mixins
------------------------------------------------------------*/

// Absolute Centering & Framing:
@mixin centerX() {
  position: relative;
  left: 50%;
  transform:translateX(-50%);
}

@mixin centerY() {
  position: relative;
  top: 50%;
  transform:translateY(-50%);
}

@mixin centerXY() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

@mixin trbl( $top: 0, $right: $top, $bottom: $top, $left: $right ) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;

}

@mixin vw-container( $max-width: $md, $base-padding: 16px  ) {
  padding-left: $base-padding;
  padding-right: $base-padding;
  @include outer-container;
  @include media($min-xs) { max-width: 100%;  }
  @include media($min-sm) {
    max-width: 100%;
    padding-left: $base-padding*2;
    padding-right: $base-padding*2;
  }
  $temp-max: call(rem, $max-width);
  $temp-med: call(rem, $md);
  $temp-lg: call(rem, $lg);
  @include media($min-md) { max-width: min( $temp-max, $temp-med  );  }
  @include media($min-lg) { max-width: min( $temp-max, $temp-lg  );  }
}

@mixin outer-container($max-width: 100%) {
  @include clearfix;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin remove-container() {
  padding: 0;
  @include outer-container;
  @include media($min-xs) { max-width: none;  }
  @include media($min-sm) { max-width: none;  }
  @include media($min-md) { max-width: none;  }
  @include media($min-lg) { max-width: none;  }
}
@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
