// FONT-SIZE and LINE-HEIGHT Custom Scale for Mobile, Tablet & Desktop

/* NOTE:  Desktop variable is FIRST and Tablet variable is LAST.
Can Leave Tablet variable blank if there is only a font change from mobile to desktop.
*/

@mixin type-scale($font-size, $font-size-mobile:$font-size, $font-size-tablet:$font-size, $font-size-large:$font-size) {
  @include font-size($font-size-mobile);
  @include media($min-sm) {
    @include font-size($font-size-tablet);
  }
  @include media($min-md) {
    @include font-size($font-size);
  }
  @include media($min-lg) {
    @include font-size($font-size-large);
  }
}

// Pixels to EMs / REMs Converstion (originally from Bourbon.io)

/* NOTE:  For a relational value of 12px write rem(12)
Assumes $em-base is the font-size of <html>
*/

// Strip Units
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// Pixels to EMs
@function em($pxval, $base: $em-base) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($pxval / $base) * 1em;
}

// Pixels to REMs
@function rem($pxval) {

  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  $base: $em-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($pxval / $base) * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: rem($size);
}

// Responsive font size with min and max
// Example: @include responsive-font(5vw, 35px, 150px, 50px);

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}
