.button {
  background-color: $accent-primary;
  border-radius: 2px;
  text-align: center;
  max-width: 260px;
  box-shadow: $shadow;
  transition: .1s;
  &:hover {
    background-color: $button-highlight;
    transition: .1s;
  }
  &:active {
    background-color: lighten($button-highlight, 6%);
    transition: .1s;
  }

  &.orange {
    background-color: $accent-secondary;
    transition: .1s;
    &:hover {
      background-color: $button-highlight-secondary;
      transition: .1s;
    }
    &:active {
      background-color: lighten($button-highlight-secondary, 6%);
      transition: .1s;
    }

    &.inverted {
      background-color: rgba(white, 0);
      border: 2px solid $accent-secondary;
      a {
        color: $accent-secondary;
      }
      &:hover {
        border: 2px solid $button-highlight-secondary;
        a {
          color: $button-highlight-secondary;
        }
      }
    }
  }

  &.small {
    a {
      padding: 4px 40px;
    }
  }

  &.inverted {
    background-color: rgba(white, 0);
    border: 2px solid $accent-primary;
    box-shadow: none;
    a {
      color: $accent-primary;
    }
    &:hover {
      border: 2px solid $button-highlight;
      a {
        color: $button-highlight;
      }
    }
  }

  &.left {
    text-align: left;
  }

  a {
    padding: 12px 40px;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: .1s;
  }
}

.help-button-container {
  position: fixed;
  display: block;
  bottom: 0;
  left: 65%;
  z-index: 999;

  .help-button {
    background-color: $button-highlight;
    box-shadow: 4px 0px 0px 0px $accent-primary;
    border-radius: 15px 15px 0 0;
    transition: .2s;
    text-align: center;
    max-width: 130px;

    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      padding: 8px 26px;
      display: block;
      font-weight: 700;
      text-align: center;
    }

    &:hover {
      background-color: $accent-secondary;
      box-shadow: 4px 0px 0px 0px darken($accent-secondary, 15%);
      transition: .2s;
    }

    &:active {
      background-color: $accent-secondary;
      box-shadow: 4px 0px 0px 0px darken($accent-secondary, 15%);
    }
  }

  @include media($min-xs) {
    position: inherit;
    padding: 20px 0;
    bottom: auto;
    left: auto;
    z-index: auto;

    .help-button {
      background-color: $button-highlight;
      box-shadow: 0px 6px 0px 0px $accent-primary,
                  0px 8px 1px  0px $shadow-gray;
      transition: .2s;
      text-align: center;
      max-width: 110px;
      border-radius: 50%;

      a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 13px 16px;
        display: block;
        font-weight: 700;
        text-align: center;
      }

      &:hover {
        background-color: $accent-secondary;
        box-shadow: 0px 6px 0px 0px darken($accent-secondary, 15%),
                    0px 8px 1px  0px $shadow-gray;
        transition: .2s;
      }

      &:active {
        margin-top: 6px;
        box-shadow: 0px -3px 0px 0px darken($accent-secondary, 15%);
        margin-bottom: -6px;
      }

      @include media($min-md) {

        a {
          font-size: 24px;
          padding: 16px 20px;
        }
      }
    }
  }
}
