.resources-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 40px;
  background-color: $accent-primary;

  .dropdown {
    background-color: $accent-primary;
    display: flex;
    position: relative;
    text-align: right;
    color: white;
    height: 40px;
    font-weight: 700;
    justify-content: flex-end;
    padding-right: 20px;

    &:hover .dropdown-content {
      display: block;
    }

    .dropdown-button {
      align-items: center;
      color: white;
      font-weight: 700;
      background-color: $accent-primary;
      border: 0;

      img {
        vertical-align: middle;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
      right: 0;
      top: 40px;
      background-color: $accent-primary;
      border-radius: 0 0 4px 4px;
      border-bottom: 2px solid darken($accent-primary, 3%);

      ul {
        list-style: none;
        margin: 0;
        text-align: left;
        padding: 0;

        li {
          padding: 10px 16px;
          a {
            color: white;
            display: block;
            text-decoration: none;
          }
        }

        li:hover {
          background-color: lighten($accent-primary, 5%);
        }
      }
    }
  }
}
