@keyframes placeHolderShimmer{
  0%{
    background-position: -420px 0
  }
  100%{
    background-position: 420px 0
  }
}

.loader {
  max-width: 420px;
  min-width: 150px;
  height: 15px;
  border-radius: 2px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: rgba(255,255,255,.35);
  background: linear-gradient(to right, rgba(255,255,255,.35) 8%, rgba(255,255,255,.5) 18%, rgba(255,255,255,.35) 28%);
  background-size: 1000px 104px;
  position: relative;
}
