.modal.component {
  display: none;
  width: 100%;
  background-color: #EEEEEE;
  border: 1px solid $accent-gray;
  border-radius: 4px;
  margin: 0 auto 60px;
  padding: 0 16px;
  box-shadow: $shadow;
  overflow: visible !important;

  &.open {
    display: block;
  }

  .modal-close-button {
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
    margin-top: -15px;
    margin-right: -15px;
    transition: .2s;

    a {
      display: flex;
      padding: 20px;
      height: 20px;
      width: 20px;
      img {
        height: 20px;
        margin-top: -10px;
        margin-left: -9px;
      }
    }
  }
}
