.module-component {
  background-color: white;
  border: 1px solid $accent-gray;
  max-width: 465px;
  font-size: 21px;
  max-height: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  box-shadow: $shadow-light;

  &.scrollable {
    overflow: scroll;
  }

  &.module-carousel {
    .module-content {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  .module-heading {
    background-color: $accent-gray;
    padding: 16px;

  }

  .module-content {
    padding: 16px;

    .tagboard-embed {
      height: 400px;
    }

    h3 {
      font-weight: 300;
      margin: 20px auto 0;
    }

    .module-image {
      background-color: $accent-primary;
      background-size: cover;
      background-repeat: no-repeat;
      height: 230px;
      width: 100%;
    }
  }

  .module-carousel-nav {
    display: flex;
    padding: 0 16px 16px;
    justify-content: space-between;
  }
}
