.notification-bar {
  h2 {
    padding: 20px 0px 20px 20px;
  }

  p {
    padding: 0px 0px 20px 20px;
  }

  h2, p {
    margin: 0;
    color: white;
    max-width: none;

    @include media($min-lg) {
      padding-left: 100px;
    }
  }
}
