.standalone-link {
  display: flex;
  flex-grow: 1;
  max-width: 630px;
  margin: 20px auto;
  color: $accent-primary;
  box-shadow: $shadow;
  border-radius: 2px;
  transition: .1s;
  background-color: $accent-gray;
  padding: 13px 12px 12px;
  font-weight: 700;
  border-left: 70px solid $accent-primary;

  &:hover {
    text-decoration: none;
    color: $button-highlight;
    transition: .1s;
    border-left: 70px solid $button-highlight;
  }

  &:active {
    text-decoration: none;
    color: lighten($button-highlight, 6%);
    transition: .1s;
    border-left: 70px solid lighten($button-highlight, 6%);
  }

  &:visited {
    text-decoration: none;
    transition: .1s;
  }

  &:focus {
    text-decoration: none;
    color: $button-highlight;
    transition: .1s;
    border-left: 70px solid $button-highlight;
  }
}
