.tab-box-component {
  position:relative;

  .tab-box {
    display: flex;
    flex-direction: column;

    .tab-box-menu {
      display: flex;
      @include media($min-sm){
        flex-direction: row;
      }

      .tab-box-dropdown {
        width: 100%;
        @include media($min-sm) {
          display: none;
        }
      }

      .tab {
        background-color: #F4F4F4;
        padding: 12px 0 15px;
        margin: 0 5px;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        display: none;
        text-decoration: none;
        color: $base-font-color;
        font-weight: normal;
        @include media($min-sm){
          display: inherit;
          flex: 1;
          border: 1px solid darken($accent-gray, 7%);
        }

        &.active {
          background-color: darken($accent-gray, 7%);
        }

        a:hover {
          text-decoration: none;
        }

        a:focus {
          text-decoration: none;
        }

        .tab-name {
          color: $base-font-color;
          font-weight: 300;
          font-size: 19px;
          margin: 0 auto;
        }
      }
    }
    .tab-box-contents {
      border-radius: 2px;
          background-color: darken($accent-gray, 7%);
      margin-top: -5px;
      box-shadow: $shadow;

      .tab-box-content {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}
