.home footer {
  background-color: $front-page-bg;
}

footer {
  padding-top: 60px;
  @include media($min-sm) {
    padding-top: 100px;
  }

  .resources-dropdown {
    @include media($min-md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .menu-resources-navigation-container, .menu-footer-links-container {
      text-align: left;
      display: none;

      @include media($min-md) {
        display: inherit;
        left: 0;
      }

      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin: 0;

        li {
          display: inline;
          white-space: nowrap;
          padding-top: 11px;
          &:hover {
            background-color: lighten($accent-primary, 5%);
          }

          a {
            color: white;
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            padding: 0 20px;
            margin-top: 11px;
          }
        }
      }
    }

    .dropdown-button {
      display: flex;
      flex-wrap: nowrap;

      img {
        padding: 6px 0 0 6px;
      }
    }

    .dropdown-content {
      top: -74px !important;
      border-radius: 4px 4px 0 0 !important;
      border-bottom: 0 solid !important;
    }
  }

  .footer-content {
    background-color: white;
    padding: 16px 20px;
    display: block;

    @include media($min-xs) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer-logo {
      max-width: 190px;
      margin: 0 auto;
      padding-bottom: 20px;

      @include media($min-xs) {
        max-width: 240px;
        width: 37vw;
        margin: 0;
        padding-bottom: 0;
      }

      img {
        width: 100%;
      }
    }

    .address {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        color: $base-font-color;
        @include responsive-font(2.3vw, 13px, 16px, 14px);
        line-height: 140%;
        text-align: center;
        margin: 0;

        @include media($min-xs) {
          text-align: right;
        }
      }
    }
  }

}
