header {
  position: fixed;
  z-index: 9999999;
  background-color: white;
  width: 100%;
  border-bottom: 2px solid $accent-gray;

  .nav-container {
    @include media($min-lg) {
      display: flex;
      align-items: center;
    }
    .nav-header {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      .logo {
        padding-top: 4px;
        img {
          width: 210px;
          padding: 6px;
        }
      }


      #menu-toggle {
        margin-top: 2px;
        background: none;
        border: 0;
        cursor: pointer;
        @include media($min-lg){
          display: none;
        }
      }
    }

    .nav-primary {
      display: none;
      background-color: $accent-primary;
      padding-left: 0;
      @include media($min-lg) {
        display: flex !important;
        flex-direction: row-reverse;
        background-color: inherit;
        flex-grow: 1;
      }
      #menu-primary-navigation {
        height: calc(100vh - 191px);
        overflow: scroll;
        @include media($min-lg) {
          height: auto;
          overflow: auto;
        }
      }
      ul {
        padding: 0;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        @include media($min-lg) {
          margin: 0;
          padding-left: 20px;
          height: inherit;
        }
        li {
          border-bottom: 1px solid $base-link-color;
          cursor: pointer;
          @include media($min-lg) {
            border: none;
            display: inline-block;
            padding: 4px 0;
            padding-right: 20px;
          }

          &.menu-item-has-children {
            .menu-item-links-container {
              display: flex;
            }
          }
          a {
            display: block;
            width: 100%;
            flex-grow: 1;
            color: white;
            font-weight: 700;
            text-decoration: none;
            cursor: pointer;
            padding: 20px 0 20px 30px;
            @include type-scale(18, 18, 18);
            @include media($min-lg) {
              // effects the height of the highlighted button
              padding: 34px 0 33px 30px;
              padding-left: 20px;
              width: inherit;
              color: $accent-primary;
            }
          }
          .sub-menu-toggle {
            width: 55px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: darken($accent-primary, 10%);

            @include media($min-lg) {
              // hides the toggle button, but still makes it visible for screenreaders
              position: absolute;
              width: 1px;
              height: 1px;
              margin: -1px;
              padding: 0;
              overflow: hidden;
              clip: rect(0,0,0,0);
              border: 0;


              &:focus, &:active {
                // Only display submenu toggle on keyboard focus on desktop
                position: relative;
                margin: inherit;
                background-color: transparent;
                width: 20px;
                height: 60px;
              }
            }

            &.open {
              .icon-triangle-down {
                transform: rotate(180deg);
                background-image: url(../images/icons/triangle-down.svg);
              }
            }

            .icon-triangle-down {
              @include media($min-lg) {
                background-image: url(../images/icons/triangle-down-dark.svg);
              }
            }
          }
          .sub-menu {
            display: none;
            background-color: $accent-primary;
            //margin-top: 20px;
            //margin-bottom: -21px;
            border-top: 1px solid $base-link-color;
            padding-left: 20px;
            @include media($min-lg) {
              position: absolute;
              z-index: 999;
              padding: 0;
              margin-top: 4px;
              border-radius: 0 4px 4px;
              border-bottom: 2px solid darken($accent-primary, 3%);
              border-top: 0 solid;
            }
          }
        }
        .menu-item-has-children.open {
          background-color: lighten($accent-primary, 5%);
          @include media($min-lg) {
            background-color: $accent-primary;
            color: white;
          }

          a {
            @include media($min-lg) {
              color: white;
            }
          }
          .sub-menu {
            display: block;
            @include media($min-lg) {
            }
            li {
              border-left: 1px solid $base-link-color;
              cursor: pointer;
              @include media($min-lg) {
                display: list-item;
                background-color: $accent-primary;
                border-left: 0 solid;
              }
              a {
                font-weight: 300;
                cursor: pointer;
                @include media($min-lg) {
                  padding-top: 13px;
                  padding-bottom: 13px;
                  padding-left: 20px;
                  cursor: pointer;
                  color: white;
                }
              }
              a:hover, a:focus {
                @include media($min-lg) {
                }
              }
            }
            li:hover, li:focus {
              background-color: lighten($accent-primary, 5%);
              @include media($min-lg) {
              }
            }
          }
        }
      }

      .search-container {
        margin-left: auto;
        padding-top: 4px;
        @include media($min-lg) {
          display: block;
          margin-right: 25px;
          max-width: 35vw;
          // effects the vertical centering of the search box
          padding-top: 21px;
        }
        .search-form {
          display: flex;
          justify-content: flex-end;
          flex-wrap: nowrap;
          width: 100vw;
          @include media($min-lg) {
            width: 27vw;
          }
          .search-field {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
