.hours-traffic {

  .heading{

    .tooltip {

    }
  }

  .close-button {

    img {

    }
  }

  .hours {

    table {

      tr {

        th {

        }
      }
    }

    .hours-links {

    }
  }

  .traffic {

    .count {

      .key {

        .swatch {

        }

        .label {

        }
      }

      .graph {

      }

      .floor-select {

        .floor-button {

          .floor-name {

          }
        }
      }
    }
  }
}

.availability-tracker-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;

  .availability-tracker {
    max-width: 200px;
    width: 100%;
    margin: 0 10px 10px;

    .availability-tracker-heading {
      font-size: 14px;
      font-weight: 700;
      width: 100%;
      padding: 6px;
      text-align: center;
      background-color: darken($accent-gray, 7%);
      border-radius: 2px;
    }

    .availability-tracker-data {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 10px 5px;
      height: 130px;

      .availability-tracker-visualization {
        width: 110px;
        flex-grow: 1;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-wrap: wrap;

        .availability-tracker-status {
          border: 1px solid $accent-gray;
        }
        .unavailable {
          background-color: white;
        }
        .in-use {
          background-color: $accent-secondary;
        }
        .available {
          background-color: $accent-primary;
        }
      }
      .availability-tracker-numbers {
        text-align: center;
        font-size: 14px;
        padding: 0 12px;

        .number-available-container {
          border-bottom: 1px solid $accent-gray;
          padding-bottom: 6px;
          margin-bottom: 6px;

          .number-available {
            font-size: 22px;
            font-weight: 700;
            color: $accent-primary;
          }
        }

        .number-in-use-container {

          .number-in-use {
            font-size: 22px;
            font-weight: 700;
            color: $accent-secondary;
          }
        }
      }
    }
  }

  #availability-tracker-desktop {
    .availability-tracker-data {
      .availability-tracker-visualization {
        height: 95px;
        .availability-tracker-status {
          max-width: 12px;
          height: 12px;
          flex-basis: 10%;
          flex-grow: 1;
        }
      }
    }
  }

  #availability-tracker-laptop {
    .availability-tracker-data {
      .availability-tracker-visualization {
        height: 60px;
        .availability-tracker-status {
          max-width: 14px;
          height: 14px;
          flex-basis: 12.5%;
          flex-grow: 1;
        }
      }
    }
  }
}
