.search-results {
  .main {
    article {
      max-width: 630px;
      margin: 30px auto;
      header {
        border-bottom: 0 solid;
        h2 {
          margin: 0 0 20px;
          a {
            color: $new-paltz-blue;
            &:hover {
              text-decoration: none;
              color: $button-highlight;
            }
            &:active {

            }
            &:focus {

            }
          }
        }
        time {

        }
        .byline {
          margin-top: 0;
        }
      }
      .entry-summary {

        p {

        }
      }
    }
  }
}
